<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.htm" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <rule name="Protect Composer files" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="composer\.json|composer\.lock|\.htaccess" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
        </rule>
        
        <rule name="Static Files" stopProcessing="true">
          <match url="^(.*\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|map))$" />
          <action type="None" />
        </rule>

        <rule name="Friendly URLs">
          <match url="^(?!.*\.(css|js|png|jpg|jpeg|gif|ico|svg|txt|pdf|woff|woff2|ttf|eot|php)$).*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
