<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(.*\.(css|js|png|jpg|jpeg|gif|ico|svg))$" />
          <action type="None" />
        </rule>
        <rule name="PHP Files" stopProcessing="true">
          <match url="^(.*\.php)$" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

